@font-face{

    font-family: 'gotham';
    
    src: url('../fonts/GothamMedium.ttf') format('truetype');
    
    src: url('../fonts/GothamMedium_1.ttf') format('truetype');
     
    font-weight: normal;
    
    font-style: normal;
    
}


@font-face{

    font-family: 'gotham';
        
    src: url('../fonts/GothamBook.ttf') format('truetype');
        
    src: url('../fonts/Gotham-BookItalic.otf') format('otf');
        
       
    font-weight: normal;
        
    font-style: normal;
        
}
            
@font-face{

    font-family: 'gotham';
        
    src: url('../fonts/Gotham-Bold.otf') format('otf');
    
    src: url('../fonts/GothamBold.ttf') format('truetype');
    
    font-weight: bold;
    
    font-style: normal;
    
}