@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400i,700&display=swap');
@import 'variables';
@import 'normalize';
@import 'fonts';
@import 'mixins';
@import 'animate';


* {
    box-sizing: border-box;
}
html {
    height: 100%;
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    height: 100%;
    min-height: 100%;
    font: 1.5rem/1.6 $text-font;
    margin: 0;
    padding: 0;
    position: relative;
   
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.container { 
    margin: 0 auto;
    max-width: 1170px;

}
.section {
    @include flex1;
    justify-content: center;
    color: $text-color;
}
.logo {
    display: block;
    @media screen and (max-width: 768px) {
       position: absolute;
       top: 20%;
       
}
}
.logo:hover {
    opacity: .5;
    @include tr();
}

.cover {
    min-height: 100vh;
   padding: 80px 0;
   background-color: #0e0d1b;
   background-size: cover;
   background-position: center;
   @include flex2;
}

.socials {
    padding: 0;
    margin: 0;
    list-style: none;
    @media screen and (max-width: 1024px) {  
        margin-top: 30px;
}
}
.social {
    display: inline-block;
    margin: 10px;
}
.social__link {
    width: 32px;
    height: 32px;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}
.social__link:hover,
.social__link:active,
.social__link:focus {
    transform: scale(1.3);
}
.navbar {
    padding-top: 55px;
    margin: 0 auto;
    @include flex3;
    flex-grow: 2;
    flex-grow: 0;
    display: flex;
    align-items: center;
    
}
.links {
    font-family: $text-font;
    padding: 0;
    @include flex3;
    margin: 0 60px;
    list-style: none;
    text-transform: uppercase;
    width: 500px;
    font-size: 1.4rem;
    
    &__li {
          a {
            @include flex3;
            align-items: center;
            text-decoration: none;
            color: #fff;
            }
    
         }
    .links__li:hover {
        .menu__p { opacity: .6;}
    }     
    .links__li:hover {    
         .point { background-color: #fff;}  
    } 
      }
      
.scroll {
    border: 1px solid #fff;
    border-radius: 50%;
    display: block;
    width: 40px;
    padding: 11px;
    text-align: center;
    margin-bottom: 40px;
    position: absolute;
    bottom: 50px;
}
.scroll:hover {
    opacity: .6;
}

.introduction {

    text-transform: uppercase;
    color: #fff;
    text-align: center;
    
    
}
.title {
    font-size: 8rem;
    margin: 0;
    padding: 0 20px;
    @media screen and (max-width: 624px) {
        font-size: 4rem;
}
}
.subtitle {
    font-size: 1.8rem;
    padding: 0 20px;
    letter-spacing: 5px;
    margin: 0;
    @media screen and (max-width: 624px) {
        font-size: 1.3rem;
        max-width: 400px;
        padding: 10px;
        
}
}

.point {
    content: '';
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
}
/////////////////////////section 2 //////////////////////
.titles {
    font-size: 4.4rem;
        text-transform: uppercase;
        font-weight: 800;
        padding: 20px;
        margin: 100px 0;
        position: relative;
        @media screen and (max-width: 1024px) {
            font-size: 3rem;
            margin: 20px;
    }
}
.titles:before {
    content:"";
    position:absolute;
    left:35%;
    top: 10%;
    width:30%;
    height:2px;
    background: $text-color;  

}
.block {
    display: flex;
    flex-direction: row;
    position: relative;
    @media screen and (max-width: 1024px) {
        @include flex2;
        flex-direction: column;
}
    &__img {
        box-shadow: -210px -70px 0 0#55b7ff;
        @media screen and (max-width: 1024px) {
            display: none;
    }
    }
    &__img2 {
        box-shadow: 210px 70px 0 0 $secondary-color;
        width: 60%;
        @media screen and (max-width: 1024px) {
            box-shadow: none;
            
        }
    }
    &__img3 {
        display: none;
        @media screen and (max-width: 1024px) {
            display: table;
            width: 60%;
        }
    }
}
.topic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-height: 600px;
    padding: 0 10px;
    overflow: hidden;
    @media screen and (max-width: 1024px) {
        align-items: center;
      
}

    &__text {
        font-family: $paragrafs-font;
        font-size: 18px;
        overflow: hidden;
    }
    &__description {
        display: inline-block;
        font-size: 2.2rem;
        font-weight: 300;
        margin: 0;
        
    }
    &__title {
        font-weight: 800;
        font-size: 4.4rem;
        margin: 0;
        @media screen and (max-width: 768px) {
                font-size: 2rem;
         }
    }
    &__btn {
      width: 190px;
      height: 50px;
      text-transform: uppercase;
      border: 1px solid $text-color;
      background-color: transparent;
      cursor: pointer;
      color: $text-color;
      font-size: 1.4rem;
      margin: 20px 0;
      &:hover {
        opacity: 0.5;
      }
    }
}
.topic2 {
    margin-right: 70px;
    @media screen and (max-width: 1024px) {
        margin: 10px;
}
}
.topic1 {
    margin-left: 70px;
    @media screen and (max-width: 1024px) {
        margin: 10px;
}
}
.modal1{
    border-radius: 20px;
    background: $brand-color;
    max-width: 400px;
    }
.modal2 {
    border-radius: 20px;
    background: $secondary-color;
    max-width: 400px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .slick-dots {
    position: absolute;
    list-style: none;
    bottom: 200px;
    right: 40px;
    @media screen and (max-width: 1024px) {
        right: 0;
}

}
.slick-dots li button {
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    margin: 40px;
    background: url(../img/2.png) no-repeat 0 0 / contain;
   
}
.slick-dots li button:hover {
    background: url(../img/3.png) no-repeat 0 0 / contain;
  
}
.imgbox {
    margin-bottom: 140px;
    @media screen and (max-width: 1024px) {
        margin-bottom: 20px;
}
}
.coordinate {
    font-family: $paragrafs-font;
    font-weight: 400;
    font-style: italic;
    margin: 30px 0 0 10px;
    display: inline-block;
}
// .fas {
//     max-width: 15px;
// }

//////////////////////////section3///////////////////////////////////
.section3 {
    display: flex;
    justify-content: center;
    background-image: url(../img/bgnews.png);
    background-size: cover;
    background-position: center;
    position: relative;

    &__title {
        color: #fff;
        margin: 50px 10px 10px;
    }
    &__title:before {
        background: #fff;
    }
}
.container-block {
    display: flex;
    flex-direction: row;

}
.newsblock {
    width: 340px;
    height: 515px;
    background-color: #fff;
    color: $text-color;
    margin: 15px;
    margin-bottom: 150px;
    &__text {
        font-family: $paragrafs-font;
        font-size: 1.8rem;
        overflow: hidden;
        max-height: 56px;
    }

    &__link {
        display: block;
        height: 220px;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        @include hover {
            .newsblock__img {
                transform: translate(-50%, -50%) scale(1.2);
            }
        }
    }
    &__img {
        @include posCenter;
        min-width: 100%;
        min-height: 100%;
        @include tr();
        
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
    }
 
    &__author {
        padding: 20px;

    }
.newsblock__title:hover {
    color: $secondary-color;
    }
}

.author-link  {
    text-decoration: none;
    color: $text-color;
    width: 100%;
    display: inline-block;
}
.info {
    padding-top: 20px;
    &__img {
        float: left;
        margin-right: 20px;
        
    }
    &__name {
        font-size: 1.8rem;
        font-weight: 300;
        display: block;
        padding: 5px 10px 0 10px;
        text-transform: uppercase;     
    }
    &__date {
        font-size: 1.4rem;
        color: $brand-color;
    }
}
.row {
    width: 80px;
    height: 80px;
    position: absolute;
    @include flex2;
    text-align: center;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.plus {
    width: 30%;
    height: 30%;
}
.newsblock__link:hover {
    .row { 
        opacity: .6;
        background-color: $brand-color;
    }
}  
.prev {
        position: absolute;
        top: 50%;
        left: 8%;
        opacity: .6;
        z-index: 2;
        &:hover {
          background-color: $brand-color;
          border-radius: 100%;
        } 
        @media screen and (max-width: 1300px) {
            left: 3%;
            top: 50%;
            background-color: #979194;
            opacity: .6;
            border-radius: 100%;
    }
      }
.next {
    position: absolute;
    top: 50%;
    right: 8%;
    z-index: 2;
    opacity: .6;
    &:hover {
      background-color: #3b84d6;
      border-radius: 100%;
    }
    @media screen and (max-width: 1300px) {
        right: 3%;
        top: 50%;
        background-color: #979194;
        opacity: .6;
        border-radius: 100%;
}
}      
.section3 {

    .slick-dots {
        transform: rotate(-90deg);
        position: absolute;
        bottom: -100px;
        right: 40%;

    }
    .container {
        width: 100%;
    }
}

///////////////////////////section4 360////////////////////////////////////////
.section4 {
    padding-bottom: 100px;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        @media screen and (max-width: 1170px) {
            flex-direction: column;        
    }
    }
}
.s4btn {
    margin-top: 50px;
}
.gallery__imgs {
    width: 50%;
        
}

.container__img2 {
    width: 49%;
        max-height: 438px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
        @media screen and (max-width: 1170px) {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-content: space-between;
            .gal-img1, .gal-img2 {
                margin-right: 10px;
            }
            .gal-img1, .gal-img3 {
                margin-bottom: 10px;
            }
    }
    
}
.ig {
    @media screen and (max-width: 768px) {
      width: 100%;
}
}
.ig:hover {
    opacity: .6;
    background-color: #24ccf8;
}
//////////////////////index2///////////////////
.index2 {
    @include flex1;
    background-color: #e7e0ec;
    &__title {
        text-transform: uppercase;
    }
}
.pv-inner {
    max-width: 1200px;
}
.row2 {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.in2 {
    position: relative;
}
.firstHeading {
    color: rgb(0, 134, 187);
}

//////////////////////section footer///////////////////////
footer {
    height: 60vh;
    color: #fff;
    background-size: cover;
    background-position: center;
    @include flex2;
    position: relative;
    
}
.end-container {
    width: 774px;
    margin: auto;
    

}
.blockend1 {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: 900px) {
        @include flex4;
        }
}
.blockend2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-weight: 200;
    margin: 30px 0;
    @media screen and (max-width: 900px) {
        @include flex4;
        }
    &__rights {
        padding-right: 30px;
        display: inline-block;
        @media screen and (max-width: 900px) {
            padding: 20px 0;
            
            }    
    }
    span + span:before {
        content: '';
            margin-right: 20px;
            padding: 5px ;
            border-left: 1px solid #fff;
            @media screen and (max-width: 900px) {
                display: none;
                }
        }
    }
.cbf {
    color: #3b84d6;
    padding-right: 10px;
}
.formbtn {
    padding: 10px;
    margin-left: 80px;
    @media screen and (max-width: 900px) {
        margin: 20px auto;
        }
}
.contactblock {
    min-width: 400px;
    .titles {
        margin: 50px;
    }
    width: 774px;
    background-color: #fff;
    position: absolute;
    bottom: 380px;
    color: $text-color;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    @media screen and (max-width: 900px) {
        width: 70%
        }

    &__gen {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 50px 50px;
        @media screen and (max-width: 900px) {
            flex-direction: column;
            align-items: flex-start;
            }
        &--left {
            display: flex;
            flex-direction: column;
        }
        &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }    
    }
}
.form {
    width: 40%;
    @media screen and (max-width: 900px) {
        width: 100%;
        }
    &__input {
        padding-bottom: 10px;
        margin: 0 0 30px 0;
        border: none;
        border-bottom: 1px solid #000;
    }
    display: flex;
            flex-direction: column;
}
.contact-text {
    text-align: left;
    margin: 0 0 25px 0;
    
}
.contactlink {
    text-decoration: none;
    color: $text-color;
}

//////////////////////






.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;
}
.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
  
}
.navbar.sticky {
  position: fixed;
  z-index: 40;
  background:  rgb(0, 134, 187);
  opacity: .6;
  width: 100%;
//   display: flex;
//   align-items: center;
  padding: 10px;
}
.navbar.sticky ~ main {
  position: relative;
  z-index: 20;
  top: 65px;
  
 
}

@media screen and (max-width: 850px) {
  .navbar .right {
    height: 0;
    overflow: hidden;
  }
  .toggle {
    position: absolute;
    top: 32.5px;
    right: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle > * {
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 3px 0;
  }
  .navbar.collapsed .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .navbar.collapsed .toggle .line2 {
    opacity: 0;
  }
  .navbar.collapsed .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navbar.collapsed .logo {
    position: absolute;
    z-index: 44;
  }
  .navbar .links {
    position: fixed;
    background:  rgb(0, 134, 187);
    
    font-family: "Nunito";
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    justify-content: start;
    width: 45vw;
    height: 100vh;
  }
  .navbar .links li:first-child {
    margin-top: 80px;
  }
  .navbar.collapsed .links {
    left: 0;
  }
  .navbar.collapsed .links a {
    color: #fff;
  }
  .navbar.collapsed .links li {
    width: 100%;
  }
  .navbar.collapsed .links li:hover a {
    color: #080808;
  }
  .navbar.collapsed .right {
    position: fixed;
    font-family: "Nunito";
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;
  }
  .navbar.collapsed ~ main {
    filter: blur(1px);
    opacity: 0.8;
  }
  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
}
